mixin title (additionalClass, background, content)
  .sectionTitle(class= additionalClass)
    svg.sectionTitle__bg
      use(xlink:href=`img/sprite.svg#${background}`)
    .sectionTitle__inner= content

//- mixin user (element, modifier)
  .user(class= element class= modifier)
    .user__imageContainer
      img.user__image(src="img/content/header/userAvatar.jpg")
    .user__name Владимир Астахов
    .user__description Личный сайт веб разработчика

mixin scrollArrow (target, additionalClass)
  a.scrollArrow(class= additionalClass href=`${target}`)
    svg.scrollArrow__icon
      use(xlink:href="img/sprite.svg#arrowDown")

mixin socials (additionalClass)
  ul.socials(class= additionalClass)
    each item in source
      li.socials__item
        a.socials__link(href=`${item.link}` target="_blank")
          svg.socials__icon
            use(xlink:href=`img/sprite.svg#${item.fileName}`)

mixin copyright (additionalClass)
  .copyright(class= additionalClass) © Владимир Астахов | Создано с любовью в LoftSchool | 2017

mixin triangleLeft (additionalClass)
  svg.triangle__polygon(viewbox="0 0 900 160" preserveAspectRatio="none" class= additionalClass)
    polygon(points = "0, 0 0, 160 900, 160")

mixin triangleRight (additionalClass)
  svg.triangle__polygon(viewbox="0 0 900 160" preserveAspectRatio="none" class= additionalClass)
    polygon(points="0, 160 900, 160 900, 0")

mixin triangleBlock (additionalClass)
  .triangle
    .triangle__unit
      +triangleLeft(additionalClass)
    .triangle__unit
      +triangleRight(additionalClass)

mixin userImage (fileName, additionalClass)
  .userFrame(class= additionalClass)
    img.userFrame__image(src=`img/content/hero/${fileName}.jpg`)

mixin user (additionalClass)
  .user(class= additionalClass)
    +userImage('userAvatar')
    .user__name Владимир Астахов
    .user__description Личный сайт веб разработчика